@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:400,400i,500,500i,700,700i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-2 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-4 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #31446d !important;
}
.bg-success {
  background-color: #232323 !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #31446d !important;
  border-color: #31446d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #161f31 !important;
  border-color: #161f31 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #161f31 !important;
  border-color: #161f31 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #31446d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #161f31 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #31446d !important;
  border-color: #31446d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #31446d !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #232323 !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #111827 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #31446d;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #31446d;
  border-color: #31446d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #31446d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #647fb9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #31446d !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #31446d;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #31446d;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #31446d;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #31446d;
  border-bottom-color: #31446d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #31446d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2331446d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-snAKwYxwfq {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-snAKwYxwfq nav.navbar {
  position: fixed;
}
.cid-snAKwYxwfq .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snAKwYxwfq .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-snAKwYxwfq .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-snAKwYxwfq .dropdown-item:hover,
.cid-snAKwYxwfq .dropdown-item:focus {
  background: #31446d !important;
  color: white !important;
}
.cid-snAKwYxwfq .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-snAKwYxwfq .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-snAKwYxwfq .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-snAKwYxwfq .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-snAKwYxwfq .nav-link {
  position: relative;
}
.cid-snAKwYxwfq .container {
  display: flex;
  margin: auto;
}
.cid-snAKwYxwfq .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-snAKwYxwfq .dropdown-menu,
.cid-snAKwYxwfq .navbar.opened {
  background: #353535 !important;
}
.cid-snAKwYxwfq .nav-item:focus,
.cid-snAKwYxwfq .nav-link:focus {
  outline: none;
}
.cid-snAKwYxwfq .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-snAKwYxwfq .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-snAKwYxwfq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-snAKwYxwfq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snAKwYxwfq .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-snAKwYxwfq .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-snAKwYxwfq .navbar {
  min-height: 60px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #353535;
}
.cid-snAKwYxwfq .navbar.opened {
  transition: all 0.3s;
}
.cid-snAKwYxwfq .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-snAKwYxwfq .navbar .navbar-logo img {
  width: auto;
}
.cid-snAKwYxwfq .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-snAKwYxwfq .navbar.collapsed {
  justify-content: center;
}
.cid-snAKwYxwfq .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-snAKwYxwfq .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-snAKwYxwfq .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 1rem);
  }
}
.cid-snAKwYxwfq .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-snAKwYxwfq .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-snAKwYxwfq .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-snAKwYxwfq .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-snAKwYxwfq .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-snAKwYxwfq .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-snAKwYxwfq .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-snAKwYxwfq .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-snAKwYxwfq .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-snAKwYxwfq .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-snAKwYxwfq .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-snAKwYxwfq .navbar .navbar-logo img {
    height: 1rem !important;
  }
  .cid-snAKwYxwfq .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-snAKwYxwfq .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-snAKwYxwfq .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-snAKwYxwfq .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-snAKwYxwfq .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-snAKwYxwfq .navbar.navbar-short {
  min-height: 60px;
}
.cid-snAKwYxwfq .navbar.navbar-short .navbar-logo img {
  height: 1rem !important;
}
.cid-snAKwYxwfq .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-snAKwYxwfq .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-snAKwYxwfq .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-snAKwYxwfq .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-snAKwYxwfq .dropdown-item.active,
.cid-snAKwYxwfq .dropdown-item:active {
  background-color: transparent;
}
.cid-snAKwYxwfq .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-snAKwYxwfq .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-snAKwYxwfq .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-snAKwYxwfq .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #353535;
}
.cid-snAKwYxwfq .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-snAKwYxwfq .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-snAKwYxwfq ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-snAKwYxwfq .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-snAKwYxwfq button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-snAKwYxwfq button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-snAKwYxwfq button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-snAKwYxwfq button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-snAKwYxwfq button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-snAKwYxwfq button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-snAKwYxwfq nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-snAKwYxwfq nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-snAKwYxwfq nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-snAKwYxwfq nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-snAKwYxwfq .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-snAKwYxwfq a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-snAKwYxwfq .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-snAKwYxwfq .navbar {
    height: 70px;
  }
  .cid-snAKwYxwfq .navbar.opened {
    height: auto;
  }
  .cid-snAKwYxwfq .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-slCPkZQ0mc {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-slCPkZQ0mc .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-slCPkZQ0mc .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-slCPkZQ0mc .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-slCPkZQ0mc .mbr-text,
.cid-slCPkZQ0mc .mbr-section-btn {
  text-align: right;
}
.cid-snAD2R3prC {
  padding-top: 105px;
  padding-bottom: 120px;
  background-color: #31446d;
}
.cid-snAD2R3prC .mbr-iconfont {
  font-size: 34px;
  width: 5.125rem;
  transition: color .3s;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  color: #fff;
  margin-top: -2.5rem;
  border-radius: 50%;
}
.cid-snAD2R3prC .mbr-section-title {
  margin: 0;
  text-align: left;
  color: #ffffff;
}
.cid-snAD2R3prC .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-snAD2R3prC .card-img {
  text-align: inherit;
}
.cid-snAD2R3prC .card-img span {
  background: linear-gradient(90deg, #ffffff, #ffffff);
}
.cid-snAD2R3prC .mbr-text {
  color: #8d97ad;
}
.cid-snAD2R3prC .wrapper {
  border-radius: .25rem;
  padding: 2rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
@media (max-width: 991px) {
  .cid-snAD2R3prC .wrapper {
    margin-bottom: 5rem;
  }
}
.cid-snA0ZOlq9M {
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-color: #fafafa;
}
.cid-snA0ZOlq9M .row {
  flex-direction: row-reverse;
}
.cid-snA0ZOlq9M .video-wrapper iframe {
  width: 100%;
}
.cid-snA0ZOlq9M .mbr-section-title,
.cid-snA0ZOlq9M .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-snA0ZOlq9M .text-wrapper {
    padding: 0rem;
  }
}
.cid-snA0ZOlq9M li {
  list-style: none;
  margin-left: 2rem;
}
.cid-snA0ZOlq9M .item-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.cid-snA0ZOlq9M .mbr-iconfont {
  font-size: 16px!important;
  padding-right: 12px;
}
.cid-snA0ZOlq9M h4 {
  margin: 0;
}
.cid-snA0ZOlq9M .item {
  color: #57468b;
}
.cid-snA0ZOlq9M ul {
  padding: 0;
  margin: 0;
}
.cid-snA0ZOlq9M .col-title {
  color: #57468b;
}
.cid-snA0ZOlq9M .col-title1 {
  color: #bfceff;
  text-align: left;
}
.cid-snA0ZOlq9M .col-title2 {
  color: #5580ff;
  text-align: left;
}
.cid-snA0ZOlq9M .col-title3 {
  color: #ff8a73;
  text-align: left;
}
.cid-snA0ZOlq9M .col-title4 {
  color: #57468b;
}
.cid-snA0ZOlq9M .item1 {
  color: #716c80;
}
.cid-snA0ZOlq9M .item2 {
  color: #716c80;
  text-align: left;
}
.cid-snA0ZOlq9M .item3 {
  color: #716c80;
}
.cid-snA0ZOlq9M .item4 {
  color: #716c80;
}
@media (max-width: 768px) {
  .cid-snA0ZOlq9M .md-pb {
    padding-bottom: 1rem;
  }
}
.cid-snA0ZOlq9M .mbr-text {
  text-align: left;
}
.cid-sp7hMndTQA {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #31446d;
}
.cid-sp7hMndTQA .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-sp7hMndTQA .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sp7hMndTQA .mbr-iconfont {
  font-size: 2rem;
  color: #808080;
}
@media (max-width: 991px) {
  .cid-sp7hMndTQA .card {
    margin-bottom: 2rem;
  }
  .cid-sp7hMndTQA .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sp7hMndTQA .card-title,
.cid-sp7hMndTQA .card-box {
  color: #ffffff;
}
.cid-sp7hMndTQA .icon-title {
  color: #ffffff;
}
.cid-sp7hMndTQA .icon-text {
  color: #ffffff;
}
.cid-sp7hMQSBkr {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sp7hMQSBkr img,
.cid-sp7hMQSBkr .item-img {
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-sp7hMQSBkr .item:focus,
.cid-sp7hMQSBkr span:focus {
  outline: none;
}
.cid-sp7hMQSBkr .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sp7hMQSBkr .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sp7hMQSBkr .item-wrapper .item-content {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sp7hMQSBkr .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sp7hMQSBkr .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sp7hMQSBkr .mbr-section-title {
  color: #232323;
  text-align: left;
}
.cid-sp7hMQSBkr .mbr-text,
.cid-sp7hMQSBkr .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-sp7hMQSBkr .item-title {
  text-align: center;
}
.cid-sp7hMQSBkr .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-sp7hMQSBkr .mbr-section-subtitle {
  text-align: left;
}
.cid-sp7it8cGlb {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-sp7it8cGlb blockquote {
  border-color: #31446d;
  border-radius: 4px;
  background-color: #ececec;
}
.cid-sp0tysDZEK {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background: #31446d;
}
.cid-sp0tysDZEK .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-sp0tysDZEK .plan-body {
  padding-bottom: 2rem;
}
.cid-sp0tysDZEK .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sp0tysDZEK .price {
  color: #31446d;
}
.cid-sp0tysDZEK .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-sp0tysDZEK .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-sp0tysDZEK .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-sp0tysDZEK .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-sp0tysDZEK .plan {
    margin-bottom: 2rem;
  }
}
.cid-sp7oiDnBT3 {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #31446d;
}
.cid-sp7oiDnBT3 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sp7oiDnBT3 form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sp7oiDnBT3 form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-sp7oiDnBT3 form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-sp7oiDnBT3 .mbr-section-title {
  color: #fafafa;
}
.cid-snGVBZRetN {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-snGVBZRetN .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-snGVBZRetN .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-width: 767px) {
  .cid-snGVBZRetN .row {
    text-align: center;
  }
  .cid-snGVBZRetN .social-row {
    justify-content: center;
  }
}
.cid-snGVBZRetN .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-snGVBZRetN .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-snGVBZRetN .list {
    margin-bottom: 0rem;
  }
}
.cid-snGVBZRetN .mbr-text {
  color: #bbbbbb;
}
.cid-snGVBZRetN .mbr-iconfont {
  color: black;
}
.cid-snHzEEjzZy {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-snHzEEjzZy nav.navbar {
  position: fixed;
}
.cid-snHzEEjzZy .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snHzEEjzZy .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-snHzEEjzZy .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-snHzEEjzZy .dropdown-item:hover,
.cid-snHzEEjzZy .dropdown-item:focus {
  background: #31446d !important;
  color: white !important;
}
.cid-snHzEEjzZy .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-snHzEEjzZy .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-snHzEEjzZy .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-snHzEEjzZy .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-snHzEEjzZy .nav-link {
  position: relative;
}
.cid-snHzEEjzZy .container {
  display: flex;
  margin: auto;
}
.cid-snHzEEjzZy .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-snHzEEjzZy .dropdown-menu,
.cid-snHzEEjzZy .navbar.opened {
  background: #353535 !important;
}
.cid-snHzEEjzZy .nav-item:focus,
.cid-snHzEEjzZy .nav-link:focus {
  outline: none;
}
.cid-snHzEEjzZy .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-snHzEEjzZy .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-snHzEEjzZy .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-snHzEEjzZy .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-snHzEEjzZy .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-snHzEEjzZy .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-snHzEEjzZy .navbar {
  min-height: 60px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #353535;
}
.cid-snHzEEjzZy .navbar.opened {
  transition: all 0.3s;
}
.cid-snHzEEjzZy .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-snHzEEjzZy .navbar .navbar-logo img {
  width: auto;
}
.cid-snHzEEjzZy .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-snHzEEjzZy .navbar.collapsed {
  justify-content: center;
}
.cid-snHzEEjzZy .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-snHzEEjzZy .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-snHzEEjzZy .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 1rem);
  }
}
.cid-snHzEEjzZy .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-snHzEEjzZy .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-snHzEEjzZy .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-snHzEEjzZy .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-snHzEEjzZy .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-snHzEEjzZy .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-snHzEEjzZy .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-snHzEEjzZy .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-snHzEEjzZy .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-snHzEEjzZy .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-snHzEEjzZy .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-snHzEEjzZy .navbar .navbar-logo img {
    height: 1rem !important;
  }
  .cid-snHzEEjzZy .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-snHzEEjzZy .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-snHzEEjzZy .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-snHzEEjzZy .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-snHzEEjzZy .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-snHzEEjzZy .navbar.navbar-short {
  min-height: 60px;
}
.cid-snHzEEjzZy .navbar.navbar-short .navbar-logo img {
  height: 1rem !important;
}
.cid-snHzEEjzZy .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-snHzEEjzZy .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-snHzEEjzZy .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-snHzEEjzZy .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-snHzEEjzZy .dropdown-item.active,
.cid-snHzEEjzZy .dropdown-item:active {
  background-color: transparent;
}
.cid-snHzEEjzZy .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-snHzEEjzZy .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-snHzEEjzZy .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-snHzEEjzZy .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #353535;
}
.cid-snHzEEjzZy .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-snHzEEjzZy .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-snHzEEjzZy ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-snHzEEjzZy .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-snHzEEjzZy button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-snHzEEjzZy button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #fafafa;
}
.cid-snHzEEjzZy button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-snHzEEjzZy button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-snHzEEjzZy button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-snHzEEjzZy button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-snHzEEjzZy nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-snHzEEjzZy nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-snHzEEjzZy nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-snHzEEjzZy nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-snHzEEjzZy .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-snHzEEjzZy a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-snHzEEjzZy .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-snHzEEjzZy .navbar {
    height: 70px;
  }
  .cid-snHzEEjzZy .navbar.opened {
    height: auto;
  }
  .cid-snHzEEjzZy .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-snHzEEJkER {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-snHzEEJkER .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-snHzEEJkER .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-snHzEEJkER .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-snHzEEJkER .mbr-text,
.cid-snHzEEJkER .mbr-section-btn {
  text-align: right;
}
.cid-snHCqwiasZ {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-color: #31446d;
}
.cid-snHCqwiasZ .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-snHCqwiasZ .icon-box {
  background: #ffffff;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-snHCqwiasZ .mbr-iconfont {
  font-size: 2rem;
  color: #808080;
}
@media (max-width: 991px) {
  .cid-snHCqwiasZ .card {
    margin-bottom: 2rem;
  }
  .cid-snHCqwiasZ .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-snHCqwiasZ .card-title,
.cid-snHCqwiasZ .card-box {
  color: #ffffff;
}
.cid-snHCqwiasZ .icon-title {
  color: #ffffff;
}
.cid-snHCqwiasZ .icon-text {
  color: #ffffff;
}
.cid-soeZS4Spap {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-soeZS4Spap img,
.cid-soeZS4Spap .item-img {
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-soeZS4Spap .item:focus,
.cid-soeZS4Spap span:focus {
  outline: none;
}
.cid-soeZS4Spap .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-soeZS4Spap .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-soeZS4Spap .item-wrapper .item-content {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-soeZS4Spap .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-soeZS4Spap .mbr-section-btn {
  margin-top: auto !important;
}
.cid-soeZS4Spap .mbr-section-title {
  color: #232323;
  text-align: left;
}
.cid-soeZS4Spap .mbr-text,
.cid-soeZS4Spap .mbr-section-btn {
  text-align: left;
}
.cid-soeZS4Spap .item-title {
  text-align: center;
}
.cid-soeZS4Spap .item-subtitle {
  text-align: left;
  color: #232323;
}
.cid-soeZS4Spap .mbr-section-subtitle {
  text-align: left;
}
.cid-so9Bf5P1WO {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-so9Bf5P1WO .video-wrapper iframe {
  width: 100%;
}
.cid-so9Bf5P1WO .mbr-section-title,
.cid-so9Bf5P1WO .mbr-section-subtitle,
.cid-so9Bf5P1WO .mbr-text {
  text-align: center;
}
.cid-so9Bf5P1WO .mbr-section-title {
  text-align: left;
}
.cid-snHzEFNgAg {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-snHzEFNgAg .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-snHzEFNgAg .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-width: 767px) {
  .cid-snHzEFNgAg .row {
    text-align: center;
  }
  .cid-snHzEFNgAg .social-row {
    justify-content: center;
  }
}
.cid-snHzEFNgAg .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-snHzEFNgAg .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-snHzEFNgAg .list {
    margin-bottom: 0rem;
  }
}
.cid-snHzEFNgAg .mbr-text {
  color: #bbbbbb;
}
.cid-snHzEFNgAg .mbr-iconfont {
  color: black;
}
.cid-sp7fZgE1kA.popup-builder {
  background-color: #ffffff;
}
.cid-sp7fZgE1kA.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sp7fZgE1kA.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sp7fZgE1kA .modal-content,
.cid-sp7fZgE1kA .modal-dialog {
  height: auto;
}
.cid-sp7fZgE1kA .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sp7fZgE1kA .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sp7fZgE1kA .form-wrapper .mbr-form .form-group,
  .cid-sp7fZgE1kA .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sp7fZgE1kA .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sp7fZgE1kA .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sp7fZgE1kA .mbr-text {
  text-align: center;
}
.cid-sp7fZgE1kA .pt-0 {
  padding-top: 0 !important;
}
.cid-sp7fZgE1kA .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sp7fZgE1kA .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sp7fZgE1kA .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sp7fZgE1kA .modal-open {
  overflow: hidden;
}
.cid-sp7fZgE1kA .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sp7fZgE1kA .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sp7fZgE1kA .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sp7fZgE1kA .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sp7fZgE1kA .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sp7fZgE1kA .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sp7fZgE1kA .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sp7fZgE1kA .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sp7fZgE1kA .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sp7fZgE1kA .modal-backdrop.fade {
  opacity: 0;
}
.cid-sp7fZgE1kA .modal-backdrop.show {
  opacity: .5;
}
.cid-sp7fZgE1kA .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-sp7fZgE1kA .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sp7fZgE1kA .modal-header .close:hover {
  opacity: 1;
}
.cid-sp7fZgE1kA .modal-header .close:focus {
  outline: none;
}
.cid-sp7fZgE1kA .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-sp7fZgE1kA .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-sp7fZgE1kA .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-sp7fZgE1kA .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sp7fZgE1kA .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sp7fZgE1kA .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sp7fZgE1kA .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sp7fZgE1kA .modal-sm {
    max-width: 300px;
  }
  .cid-sp7fZgE1kA .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-sp7fZgE1kA .modal-lg,
  .cid-sp7fZgE1kA .modal-xl {
    max-width: 1140px;
  }
  .cid-sp7fZgE1kA .container {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .cid-sp7fZgE1kA .modal-xl {
    max-width: 1140px;
  }
  .cid-sp7fZgE1kA .container {
    max-width: 1140px;
  }
}
.cid-sp7fZgE1kA .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-sp7fZgE1kA .container {
    max-width: 720px;
  }
}
.cid-sp7fZgE1kA .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sp7fZgE1kA .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sp7fZgE1kA .form-group {
  margin-bottom: 1rem;
}
.cid-sp7fZgE1kA .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sp7fZgE1kA .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sp7fZgE1kA .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
